.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 90%;
  max-width: 1110px;
  margin: auto;
}

@media screen and (min-width: 992px) {
  .login-form-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.login-image {
  width: 60%;
  height: 373px;
  max-width: 582px;
  flex-shrink: 1;
  margin-right: 82px;
}

@media screen and (max-width: 991px) {
  .login-image {
    display: none;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  width: 100%;
  max-width: 350px;
}

@media screen and (min-width: 992px) {
  .form-container {
    max-width: 456px;
    flex-shrink: 0;
    background-color: #fefeff;
    box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
    padding: 60px 48px 48px 48px;
  }
}

.login-website-logo {
  height: 40px;
  width: 78px;
}
@media screen and (min-width: 992px) {
  .login-website-logo {
    height: 42px;
    width: 82px;
  }
}

.website-logo-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #262626;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.input-label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #262626;
}

.username-input-field {
  font-size: 14px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  height: 40px;
  background: #eeeeee;
  border: none;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
  color: #262626;
}

.password-input-field {
  font-size: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  height: 40px;
  background: #eeeeee;
  border: none;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
  color: #262626;
}

.error-message {
  align-self: flex-start;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ef4444;
  margin-top: 8px;
  text-transform: capitalize;
}

.login-button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  height: 40px;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 2px;
  background-color: #4094ef;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}
