.post-feed-item {
  width: 100%;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .post-feed-item {
    margin-bottom: 32px;
    background-color: #ffffff;
  }
}

.post-feed-item-dp-section {
  display: flex;
  align-items: center;
  height: 56px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .post-feed-item-dp-section {
    border: 1px solid #dbdbdb;
    background-color: #ffffff;
    border-radius: 4px 4px 0px 0px;
    border-bottom: none;
  }
}

.post-feed-item-dp-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: linear-gradient(
    314.35deg,
    #e20337 6.03%,
    #c60188 40.88%,
    #7700c3 73.23%
  );
}



.post-feed-item-dp-profile-pic {
  width: 28px;
  height: 28px;
  border-radius: 50px;
  border: 2px solid #ffffff;
}

.link {
  text-decoration: none;
  cursor: pointer;
  outline: none;
}
.post-feed-item-dp-profile-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.1px;
  color: #262626;
  margin-left: 8px;
}

.post-feed-item-user-post-image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .post-feed-item-user-post-image {
  }
}

.post-feed-item-comments-and-likes-section {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 0;
  padding-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .post-feed-item-comments-and-likes-section {
    padding-top: 16px;
    padding-left: 24.96px;
    padding-right: 24.96px;
    padding-bottom: 16px;
    background: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 0px 0px 4px 4px;
  }
}

.post-feed-item-icons-container {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .post-feed-item-icons-container {
    margin-bottom: 16px;
  }
}

.post-feed-item-icons-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  margin-right: 13.78px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.post-feed-item-BsHeart-icon {
  min-width: 100%;
  height: 20px;
  width: 22.22222137451172px;
  margin: 0;
  line-height: 0;
  color: #475569;
}

.post-feed-item-Fclike-icon {
  min-width: 100%;

  height: 22px;
  width: 22.22222137451172px;
  margin: 0;
  line-height: 0;
}

.post-feed-item-FaRegComment {
  color: #475569;
  height: 22px;
  width: 23px;
  left: 1px;
  top: 1px;
  border-radius: 0px;
  margin-right: 12px;
}
.post-feed-item-BiShareAlt {
  color: #475569;
  height: 24px;
  width: 24px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}

@media screen and (min-width: 768px) {
  .post-feed-item-BsHeart-btn {
    height: 19.75337028503418px;
    width: 22.713268280029297px;
    left: 0.9609375px;
    top: 1.921875px;
    border-radius: 0px;
    margin-right: 17px;
  }

  .post-feed-item-FaRegComment {
    height: 19.386981964111328px;
    width: 22px;
    left: 1px;
    top: 2px;
    border-radius: 0px;
  }
  .post-feed-item-BiShareAlt {
    height: 24px;
    width: 24px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
  }
}

.post-feed-item-likes-count {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.07px;
  color: #262626;
  margin-top: 0;
  margin-bottom: 4px;
}
@media screen and (min-width: 768px) {
  .post-feed-item-likes-count {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 8px;
  }
}

.post-feed-item-caption {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.07px;
  color: #262626;
  margin-top: 0;
  margin-bottom: 4px;
}

@media screen and (min-width: 768px) {
  .post-feed-item-caption {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 8px;
  }
}

.post-feed-item-comments-list-container {
  list-style-type: none;
  padding: 0;
}

.post-feed-item-comment-item {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 4px;
}
@media screen and (min-width: 768px) {
  .post-feed-item-comment-item {
    margin-bottom: 8px;
  }
}

.post-feed-item-comment-item-comment {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.1px;
  color: #262626;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .post-feed-item-comment-item-comment {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
  }
}
.post-feed-item-comment-item-username {
  font-weight: 500;
}

.post-feed-item-created-at {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.05px;
  color: #989898;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .post-feed-item-created-at {
    font-size: 14px;
    line-height: 18px;
  }
}
