.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  min-height: 100vh;
  padding-bottom: 36px;
}
@media screen and (min-width: 768px) {
  .home-container {
    padding-bottom: 48px;
  }
}

.search-results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  min-height: 100vh;
  padding-bottom: 36px;
}
