.my-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  /* background-color: aqua; */
  min-height: 100vh;
}

@media screen and (min-width: 768px) {
  .my-profile-container {
  }
}

.my-profile-success-view {
  width: 100%;
  max-width: 1040px;
}

.my-profile-success-view-profile-section {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 0.5px solid #c6c6c8;
}
@media screen and (min-width: 768px) {
  .my-profile-success-view-profile-section {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 33px;
  }
}

.my-profile-success-view-profile-mobile-info-container {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  padding-right: 8px;
}

/* @media screen and (min-width: 768px) {
  .my-profile-success-view-profile-mobile-info-container {
    display: none;
  }
} */

.my-profile-success-view-profile-mobile-info-username {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #262626;
  margin-bottom: 12px;
}

.my-profile-success-view-profile-mobile-info-stats-container {
  display: flex;
  align-items: center;
  padding: 0;
  width: 100%;
}

.my-profile-success-view-profile-mobile-info-profile-pic {
  height: 96px;
  width: 96px;
  padding: 0;
  border-radius: 50%;
}

.my-profile-success-view-profile-mobile-info-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 24px;
}

.my-profile-success-view-profile-mobile-info-stats-count {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #262626;
  margin: 0;
}

.my-profile-success-view-profile-mobile-info-stats-type {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #262626;
  margin: 0;
}

.my-profile-success-view-profile-mobile-info-bio-container {
  margin-top: 12px;
}

.my-profile-success-view-profile-mobile-info-bio-userId {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #262626;
  margin-top: 0;
  margin-bottom: 4px;
}

.my-profile-success-view-profile-mobile-info-bio-description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #262626;
  margin: 0;
}

/* Profile info Desktop View */

.my-profile-success-view-profile-desktop-info-container {
  display: flex;
  align-items: center;
  padding-bottom: 64px;
}

/* @media screen and (max-width: 767px) {
  .my-profile-success-view-profile-desktop-info-container {
    display: none;
  }
} */

.my-profile-success-view-profile-desktop-info-profile-pic {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  margin-right: 64px;
}

.my-profile-success-view-profile-desktop-info-stats-container {
  display: flex;
  flex-direction: column;
}

.my-profile-success-view-profile-desktop-info-stats-username {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 32px;
  color: #262626;
  margin-top: 0;
}

.my-profile-success-view-profile-desktop-info-stats-details-container {
  display: flex;
  align-items: center;
}

.my-profile-success-view-profile-desktop-info-stats-details-type {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #262626;
  margin: 0;
  margin-right: 48px;
}

.my-profile-success-view-profile-desktop-info-stats-details-count {
  font-weight: 500;
}

.my-profile-success-view-profile-desktop-info-bio-container {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.my-profile-success-view-profile-desktop-info-bio-userId {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #262626;
  margin-top: 0;
  margin-bottom: 8px;
}

.my-profile-success-view-profile-desktop-info-bio-description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #262626;
  margin: 0;
}

/* My Profile Stories Section */

.my-profile-success-view-stories-list-container {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin-top: 24px;
  margin-bottom: 24px;
}

@media screen and (min-width: 767px) {
  .my-profile-success-view-stories-list-container {
    margin-top: 0;
    margin-bottom: 32px;
  }
}

.my-profile-success-view-story-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border: 1px solid #c7c7cc;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  margin-right: 24px;
}

@media screen and (min-width: 767px) {
  .my-profile-success-view-story-item {
    height: 86px;
    width: 86px;
    margin-right: 32px;
  }
}

.my-profile-success-view-story-item-image {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

/* My Profile Posts Section */

.my-profile-success-view-posts-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 44px;
}

@media screen and (min-width: 767px) {
  .my-profile-success-view-posts-section {
    padding-top: 34px;
    padding-bottom: 100px;
  }
}

.my-profile-success-view-posts-icon-container {
  display: flex;
  align-items: center;
}

.my-profile-success-view-posts-icon {
  font-size: 14px;
  border-radius: 0px;
  color: #262626;
  margin-left: 26.5px;
  margin-right: 7.44px;
}
@media screen and (min-width: 767px) {
  .my-profile-success-view-posts-icon {
    font-size: 16px;
    margin-left: 3px;
    margin-right: 16.12px;
  }
}

.my-profile-success-view-posts-icon-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #262626;
  margin: 0;
}
@media screen and (min-width: 767px) {
  .my-profile-success-view-posts-icon-heading {
    font-size: 24px;
    line-height: 32px;
  }
}

.my-profile-success-view-posts-list-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin-top: 12px;
  margin-bottom: 0;
}
@media screen and (min-width: 767px) {
  .my-profile-success-view-posts-list-container {
    margin-top: 24px;
  }
}

.my-profile-success-view-posts-list-item {
  /* height: 118px;
  width: 118px; */
  width: 33%;
  border-radius: 0px;
  margin-bottom: 4px;
}

@media screen and (min-width: 767px) {
  .my-profile-success-view-posts-list-item {
    /* height: 330px;
    width: 330px; */
    width: 32%;
    margin-bottom: 23px;
  }
}

.my-profile-success-view-posts-list-item-image {
  width: 100%;
  height: 100%;
}

/* My Profile No-Posts*/

.my-profile-success-view-no-posts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
}
@media screen and (min-width: 767px) {
  .my-profile-success-view-no-posts-container {
    height: 60vh;
  }
}

.my-profile-success-view-no-posts-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  font-size: 29px;
  color: #262626;
  border: 1.11628px solid #262626;
  border-radius: 50%;
}
@media screen and (min-width: 767px) {
  .my-profile-success-view-no-posts-icon-container {
    width: 86px;
    height: 86px;
    border: 2px solid #262626;
    font-size: 48px;
  }
}

.my-profile-success-view-no-posts-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #262626;
}

@media screen and (min-width: 767px) {
  .my-profile-success-view-no-posts-heading {
    font-size: 32px;
    line-height: 48px;
  }
}

/* My Profile Loading View */

.my-profile-loading-view {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
@media screen and (min-width: 768px) {
  .my-profile-loading-view {
    height: 90vh;
  }
}

@media screen and (min-width: 768px) {
  .my-profile-mobile-loader-container {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .my-profile-desktop-loader-container {
    display: none;
  }
}

/* My Profile Failure View  */

.my-profile-failure-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

@media screen and (min-width: 768px) {
  .my-profile-failure-view {
    height: 100vh;
  }
}

.my-profile-failure-view-image {
  height: 126.99996948242188px;
  width: 259.99932861328125px;
  border-radius: 0px;
}

@media screen and (min-width: 768px) {
  .my-profile-failure-view-image {
    height: 273.9997253417969px;
    width: 560.0001831054688px;
    border-radius: 0px;
  }
}

.my-profile-failure-view-error {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #262626;
  margin-top: 32px;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .my-profile-failure-view-error {
    font-size: 32px;
    line-height: 48px;
    margin-top: 48px;
    margin-bottom: 32px;
  }
}

.my-profile-failure-view-btn {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  padding: 8px 24px;
  border: none;
  background: #4094ef;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}
@media screen and (min-width: 768px) {
  .my-profile-failure-view-btn {
    font-size: 14px;
    line-height: 24px;
    padding: 12px 32px;
    border-radius: 12px;
  }
}
